<footer class="footer">
  <div class="footer__subhead">
    <p>Brought to you by <a href="https://37signals.com">37signals</a></p>
  </div>

  <div class="footer__buttons">
    <a href="https://basecamp.com"><img src="assets/images/logo-basecamp.svg" width="145" height="32"
        alt="Basecamp"></a>
    <a href="https://hey.com"><img src="assets/images/logo-hey.svg" width="123" height="57" alt="HEY"></a>
    <a href="https://once.com"><img src="assets/images/logo-once.svg" width="72" height="72" alt="ONCE"></a>
  </div>
</footer>