<title>{{ .Title }}</title>

<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, width=device-width">
<meta name="description" content="{{ .Site.Params.description }}">

<meta property="og:site_name" content="{{ .Site.Params.siteTitle }}">
<meta property="og:title" content="{{ .Site.Params.siteTitle }}">
<meta property="og:description" content="{{ .Site.Params.description }}">
<meta property="og:image" content="https://omarchy.org/assets/images/opengraph.png">
<meta property="og:url" content="https://omarchy.org">
<meta property="og:type" content="website">

<meta name="twitter:title" content="{{ .Site.Params.siteTitle }}">
<meta name="twitter:description" content="{{ .Site.Params.description }}">
<meta name="twitter:image" content="https://omarchy.org/assets/images/opengraph.png">
<meta name="twitter:image:alt" content="{{ .Site.Params.siteTitle }}">
<meta name="twitter:card" content="summary_large_image">

<link rel="icon" href="assets/images/favicon.png">

{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}