.footer {
  display: grid;
  gap: 1.25em;
  margin-bottom: var(--space-xx-large);
  padding-inline: var(--space-large);
}

.footer__subhead {
  text-align: center;
}

.footer__buttons {
  display: flex;
  gap: 1.25em;
  justify-content: center;
}

.footer__buttons img {
  display: block;
  height: 2em;
  width: auto;
}



@media(min-width: 64em) {

  .footer {
    margin-bottom: var(--space-xxxx-large);
    padding-inline: var(--space-xx-large);
  }

}
