.footer {
  display: grid;
  gap: 1.25em;
  margin-bottom: var(--space-xx-large);
  padding-inline: var(--space-large);
}

.footer__subhead {
  text-align: center;
}

.footer__buttons {
  display: flex;
  gap: 1.25em;
  justify-content: center;
}

.footer__buttons img {
  display: block;
  height: 2em;
  width: auto;
}

.footer__sponsor {
  align-items: end;
  display: flex;
  gap: 0.6375em;
  justify-content: center;
  margin-top: 1.5em;
}

.footer__sponsor span {
  font-size: 92.5%;
  margin-bottom: -0.35em;
}

.footer__sponsor img {
  display: block;
  height: 1.5em;
  margin-bottom: -0.075em;
  width: auto;
}

@media(min-width: 64em) {

  .footer {
    margin-bottom: var(--space-xxxx-large);
    padding-inline: var(--space-xx-large);
  }

}
