.main {
  display: grid;
  margin-bottom: var(--space-xx-large);
  margin-top: var(--space-xx-large);
}



.main--error {
  flex: 1;
  place-content: center;
}



@media(min-width: 64em) {

  .main {
    margin-bottom: var(--space-xxxx-large);
    margin-top: var(--space-xxxx-large);
  }

}
