.manual {
  align-items: start;
  display: grid;
  margin-inline: auto;
  position: relative;
  width: min(100%, 90em);
}

.manual__chapters {
  border-right: var(--border-width) solid var(--border-color);
  display: none;
  max-height: calc(100vh - var(--nav-height));
  min-height: calc(100vh - var(--nav-height));
  overflow: hidden auto;
  position: sticky;
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  top: var(--nav-height);
}

.manual__chapters ol {
  counter-reset: chapter;
  display: grid;
  gap: var(--space-xxx-small);
  list-style: none;
  margin-bottom: -0.4375em;
  margin-top: -0.3875em;
}

.manual__chapters ol li {
  counter-increment: chapter;
}

.manual__chapters ol li a {
  color: var(--color-terminal-blue);
  display: flex;
  font-weight: 400;
  gap: var(--space-small);
  text-decoration: none;
}

.manual__chapters ol li a:before {
  color: var(--color-green);
  content: counter(chapter, decimal-leading-zero);
}

.manual__chapters ol li a[aria-current="page"] {
  color: var(--color-white);
}

.manual__container {
  align-content: start;
  display: grid;
  gap: var(--space-xx-large);
  padding: var(--space-xx-large);
}

.manual__content {
  align-content: start;
  display: grid;
  gap: var(--space-xx-large);
  padding: var(--space-large);
}

.manual__article {
  color: var(--color-terminal-white);
  display: grid;
  gap: 2.4em;
  text-wrap: pretty;
}

.manual__article h1,
.manual__article h2,
.manual__article h3,
.manual__article h4,
.manual__article h5,
.manual__article h6 {
  color: var(--color-white);
  font-weight: 700;
  line-height: var(--line-height-tight);
}

.manual__article h1 {
  font-size: var(--font-size-x-large);
  line-height: 1.3em;
  padding-block: 0.1555em;
  margin-bottom: 0.925em;
}

.manual__article h2 {
  font-size: var(--font-size-large);
  margin-bottom: -0.3em;
  margin-top: -0.2375em;
  padding-top: 1.025em;
}

.manual__article h3,
.manual__article h4,
.manual__article h5,
.manual__article h6 {
  font-size: var(--font-size-medium);
  margin-bottom: -0.3125em;
  margin-top: -0.2375em;
  padding-top: 1.25em;
}

.manual__article h1 + h2,
.manual__article h1 + h3,
.manual__article h1 + h4,
.manual__article h1 + h5,
.manual__article h1 + h6 {
  padding-top: 0;
}

.manual__article h1 a,
.manual__article h2 a,
.manual__article h3 a,
.manual__article h4 a,
.manual__article h5 a,
.manual__article h6 a {
  color: inherit;
  font-weight: inherit;
  text-decoration: none;
}

.manual__article p,
.manual__article ol,
.manual__article ul {
  margin-bottom: -0.4375em;
  margin-top: -0.3875em;
}

.manual__article p img {
  border: var(--border-width) solid var(--border-color);
  margin-bottom: 0.4375em;
  margin-top: 0.3875em;
}

.manual__article ol,
.manual__article ul {
  display: grid;
  gap: 0.25em;
  list-style: none;
}

.manual__article ol li,
.manual__article ul li {
  position: relative;
}

.manual__article ol li:before,
.manual__article ul li:before {
  left: 0;
  position: absolute;
}

.manual__article ol {
  counter-reset: item;
}

.manual__article ol li {
  counter-increment: item;
  padding-left: 4ch;
}

.manual__article ol li:before {
  content: counter(item) '.';
}

.manual__article ul li {
  padding-left: 2ch;
}

.manual__article ul li:before {
  content: '•';
}

.manual__article pre {
  background: oklch(var(--oklch-terminal-black) / 0.1);
  border: var(--border-width) solid var(--border-color);
  -ms-overflow-style: none;
  overflow-x: auto;
  padding: 1.2em 1.5em;
  scrollbar-width: none;
  white-space: pre;
}

.manual__article code {
  background: oklch(var(--oklch-terminal-black) / 0.1);
  border: var(--border-width) solid var(--border-color);
  border-radius: 0.2em;
  color: var(--color-turquoise);
  padding-inline: 0.225em;
  white-space: nowrap;
}

.manual__article pre code {
  background: none;
  border: none;
  border-radius: initial;
  padding: 0;
  white-space: pre;
}

.manual__article table {
  border-collapse: separate;
  width: 100%;
}

.manual__article table code {
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  overflow-wrap: anywhere;
  white-space: normal;
}

.manual__article table th,
.manual__article table td {
  border-bottom: var(--border-width) solid var(--border-color);
  padding: var(--space-medium);
  vertical-align: top;
}

.manual__article table th {
  border-top: var(--border-width) solid var(--border-color);
  color: var(--color-white);
  font-weight: 700;
  text-align: left;
}

.manual__article hr {
  border-top: var(--border-width) dashed var(--border-color);
}

.manual__article a {
  color: var(--color-white);
  font-weight: 700;
}

.manual__heading-link {
  color: var(--color-white);
  font-size: var(--font-size-small);
  font-weight: inherit;
  opacity: 0;
  text-decoration: none;
}

.manual__pagination {
  display: grid;
}

.manual__pagination-button {
  align-content: start;
  border: var(--border-width) solid var(--border-color);
  display: grid;
  padding: var(--space-neutral);
  text-decoration: none;
}

.manual__pagination-button dl {
  display: grid;
  gap: var(--space-xxx-small);
  margin-bottom: -0.45em;
  margin-top: -0.3125em;
}

.manual__pagination-button dl dt {
  color: oklch(var(--oklch-terminal-white) / 0.6);
  font-size: var(--font-size-small);
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.manual__pagination-button dl dd {
  color: var(--color-white);
  font-weight: 600;
}

.manual__pagination-button--next {
  border-top: none;
  justify-content: end;
  text-align: right;
}



@media(hover: hover) {

  .manual__chapters ol li a:focus,
  .manual__chapters ol li a:hover {
    color: var(--color-white);
  }

  .manual__article table tr td {
    transition: background var(--transition);
  }

  .manual__article table tr:hover td {
    background: oklch(var(--oklch-terminal-black) / 0.1);
  }

  .manual__article a:focus,
  .manual__article a:hover {
    color: var(--color-green);
  }

  .manual__heading-link {
    transition:
      color var(--transition),
      opacity var(--transition)
    ;
  }

  .manual__article :is(h2, h3, h4, h5, h6):hover .manual__heading-link,
  .manual__heading-link:focus-visible {
    opacity: 0.5;
  }

  .manual__article :is(h2, h3, h4, h5, h6) .manual__heading-link:hover {
    color: var(--color-white);
    opacity: 1;
  }

  .manual__pagination-button {
    transition: background var(--transition);
  }

  .manual__pagination-button dl dt {
    transition: color var(--transition);
  }

  .manual__pagination-button:focus,
  .manual__pagination-button:hover {
    background: oklch(var(--oklch-terminal-black) / 0.1);
  }

  .manual__pagination-button:focus dl dt,
  .manual__pagination-button:hover dl dt {
    color: var(--color-green);
  }

}



@media(min-width: 48em) {

  .manual__pagination {
    grid-template-columns: repeat(2, 1fr);
  }

  .manual__pagination-button--next {
    border-left: none;
    border-top: var(--border-width) solid var(--border-color);
  }

}



@media(min-width: 64em) {

  .manual {
    grid-template-columns: 30em auto;
  }

  .manual__chapters {
    display: grid;
  }

  .manual__content {
    padding: var(--space-xx-large);
  }

}
