.section {
  display: grid;
  gap: var(--space-large);
  margin-inline: auto;
  margin-top: var(--space-xxx-large);
  padding-inline: var(--space-large);
  scroll-margin-top: 4em;
  width: min(100%, 90em);
}

.section__header {
  display: grid;
  gap: var(--space-medium);
  justify-items: start;
}

.section__header h2 {
  color: var(--color-terminal-white);
  font-size: var(--font-size-large);
  font-weight: 700;
}

.section__caret {
  color: var(--color-green);
}

.section__cmd {
  color: var(--color-terminal-cyan);
}

.section__header p {
  max-width: 52em;
}

.section__more {
  display: flex;
  justify-content: center;
}

.section .workstations {
  padding-inline: 0;
}



@media(min-width: 64em) {

  .section {
    margin-top: var(--space-xxxx-large);
    padding-inline: var(--space-xx-large);
  }

}
